.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    width: 800px;
    margin: 0 auto;
    border: 3px solid red;
    padding: 20px;

}

.display {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 250px;
    background-color: aliceblue;
    border: 3px solid blue;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
}

.operation {
    font-size: 30px;
    align-items: flex-end;
}

.result {
    font-size: 40px;
    align-items: flex-end;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

button {
    width: 170px;
    height: 170px;
    border-radius: 2px;
    font-size: 50px;
}

#clear.button {
    font-size: 40px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
